h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
font-family: 'Open Sans', sans-serif;
   font-size: 100%;
   background:#fff; 
}
/*--header start here--*/
.banner {
	background: url(../images/home3.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 750px;
}